---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


<div class="row t60">

    <div class="medium-3 columns" style="text-align: center; margin-bottom: 20px">
        <img src="/imagenes/FSE.jpg"/>
    </div><!-- /.medium-6.columns -->

    <div class="medium-3 columns" style="text-align: center; margin-bottom: 20px">
        <img src="/imagenes/gobierno.png"/>
    </div><!-- /.medium-6.columns -->

    <div class="medium-2 columns" style="text-align: center; margin-bottom: 20px">
        <img src="/imagenes/JUNTA.jpg"/>
    </div><!-- /.medium-6.columns -->

    <div class="medium-4 columns" style="text-align: center; margin-bottom: 20px">
        <p style="font-size: 10px">Anticipación de la elección de itinerarios en la ESO a través de la materia troncal de matemáticas, cofinanciadas por el Ministerio de Educación Cultura y Deporte y el Fondo Social Europeo</p>
    </div><!-- /.medium-6.columns -->
</div><!-- /.row -->


<div class="row t60" style="margin-top: 20px !important">
     <div class="medium-6 columns" style="text-align: center; margin-bottom: 20px">
         <img src="/imagenes/logoIESSA.png" style="width: 57%"/>
     </div><!-- /.medium-6.columns -->

     <div class="medium-6 columns" style="text-align: center">
       <p>El IES San Andrés es un Instituto de Educación Secundaria Obligatoria (ESO), Bachillerato y Ciclos Formativos de las familias de "Informática y Comunicaciones" y de "Administración y Gestión. Ubicado en Villabalter, municipio del ayuntamiento de San Andrés del Rabanedo, se encuentra a 5 kilómetros del centro de León.</p>
     </div><!-- /.medium-6.columns -->
</div><!-- /.row -->


<div class="row t60 iconos-iniciales-frontal">

  <a href="/admision2016_2017/">
    <div class="medium-3 columns" style="text-align: center; margin-bottom: 20px">
      <i class="fa fa-user-plus  fa-3x"></i>
      <p class="enlace-icono-frontal">Proceso de admisión del alumnado para el curso 2016/2017</p>
    </div>
  </a><!-- /.medium-6.columns -->

    <a href="/revistaRIES/">
      <div class="medium-3 columns" style="text-align: center; margin-bottom: 20px">
        <i class="fa fa-files-o  fa-3x"></i>
        <p class="enlace-icono-frontal">Revista RIES</p>
      </div>
    </a><!-- /.medium-6.columns -->

    <a href="/ubicacion/">
      <div class="medium-3 columns" style="text-align: center; margin-bottom: 20px">
        <i class="fa fa-map  fa-3x"></i>
        <p class="enlace-icono-frontal">Ubicación y contacto</p>
      </div>
    </a><!-- /.medium-6.columns -->

    <a href="/departamentosYProfesorado/">
      <div class="medium-3 columns" style="text-align: center; margin-bottom: 20px">
        <i class="fa fa-university  fa-3x"></i>
        <p class="enlace-icono-frontal">Departamentos y profesorado</p>
      </div>
    </a><!-- /.medium-6.columns -->
</div><!-- /.row -->




{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}

<div class="row">
    {% if page.widget-1.title %}
    <div class="medium-4 columns">
        <a href="{% if page.widget-1.url contains 'http' %}{{ page.widget-1.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-1.url }}{% endif %}">{% if page.widget-1.image %}<img src="{{ site.urlimg }}/{{ page.widget-1.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-1.video %}{{ page.widget-1.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-1.title }}</h2>
        <p>{{ page.widget-1.text }}</p>
        <p><a class="button tiny radius" href="{% if page.widget-1.url contains 'http' %}{{ page.widget-1.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-1.url }}{% endif %}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-2.title %}
    <div class="medium-4 columns">
        <a href="{% if page.widget-2.url contains 'http' %}{{ page.widget-2.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-2.url }}{% endif %}">{% if page.widget-2.image %}<img src="{{ site.urlimg }}/{{ page.widget-2.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-2.video %}{{ page.widget-2.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-2.title }}</h2>
        <p>{{ page.widget-2.text }}</p>
        <p><a class="button tiny radius" href="{% if page.widget-2.url contains 'http' %}{{ page.widget-2.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-2.url }}{% endif %}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-3.title %}
    <div class="medium-4 columns">
        <a href="{% if page.widget-3.url contains 'http' %}{{ page.widget-3.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-3.url }}{% endif %}">{% if page.widget-3.image %}<img src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <a href="{{ page.widget-3.url }}">{% if page.widget-3.image %}<img class="lazy" data-src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <h2 class="font-size-h3 t10">{{ page.widget-3.title }}</h2>
        <p>{{ page.widget-3.text }}</p>
        <p><a class="button tiny radius" href="{% if page.widget-3.url contains 'http' %}{{ page.widget-3.url }}{% else %}{{ site.url }}{{ site.baseurl }}/{{ page.widget-3.url }}{% endif %}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->


{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.image.homepage %}
            <p>
              {% if post.link %}
                <a href="{{ post.link }}" title="{{ post.title escape_once }}">
              {% else %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title escape_once }}">
              {% endif %}


                <img width="970" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title escape_once }}">

                </a>
            </p>

            {% if post.image.caption_url && post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}
            {% else post.image.homepage == NULL %}
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% endif %}
            {% endfor %}
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-12 columns">
            {% for post in site.posts limit:1 %}
            {% if post.link %}
              <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
            {% else %}
              <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            {% endif %}
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                {% if post.link %}
                  <a href="{{ post.link }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
                {% else %}
                  <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
                {% endif %}


            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->


        <div class="medium-12 columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts.html entries='10' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
